# Dependencies
node_modules/

# Playwright
playwright-report/
test-results/
blob-report/

# Allure
allure-results/
allure-report/
allure-report-single/

# Environment files
env/
.env
.env.*
.github
.claude
.agents
.gitlab-ci.yml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json